PORT=4002
DATABASE_URL=postgresql://admin:admin@postgres:5432/wallets
RABBITMQ_URL=amqp://admin:admin@rabbitmq:5672
KEYCLOAK_ISSUER=http://localhost:8080/realms/crash-game
KEYCLOAK_JWKS_URI=http://localhost:8080/realms/crash-game/protocol/openid-connect/certs
RABBITMQ_EXCHANGE_GAMES=games.events
RABBITMQ_EXCHANGE_WALLETS=wallets.events
INITIAL_WALLET_BALANCE_CENTS=100000
